@charset "UTF-8";
/* CSS Document */

form{
	margin-left: 0px;
	margin-top: 100px;
}

body{
	background-color: #eaebec;
	background-repeat:no-repeat;
}

#container{
	height: 600px;
	width: 1000px;
	background-image:url(../SwiftMailer/images/mainBG.jpg);	
}

#titleDiv{
	width: 1000px;
	display:inline-block;
}	