@charset "UTF-8";
/* CSS Document */

html { 
  background: url(../images/loginBG.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	background: #94545d;
	color: black;
}

#mainContent{
	width: 100%;
	height: 680px;
	background-color:#94545d;
	margin-top: 100px;	
	text-align: center;
}

#resultsID{
	width: 400px;
	text-align: left;
	margin-left: 0px;
}

p {
	margin-top: 10px;
}




	